@import "~react-image-gallery/styles/css/image-gallery.css";
:root {
  --mainLight: #ffffe4;
  --purpleDark: #9c4d9e;
  --orangeLight: #fcb040;
}
body {
  background-color: var(--mainLight) !important;
}

.header {
  width: 75%;
  margin: auto;
}
.nav-item {
  transition: all 0.5s ease-in-out;
}
.nav-item:hover {
  transform: scale(1.35);
}
.navbar img {
  margin: auto;
  width: 85%;
  display: block;
}
.button-border {
  padding: 10px;
  background: transparent;
  border: black solid 1px;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.button-border:hover {
    background: lightgray;
}
.text-click {
  margin: 1px;
  color: var(--purpleDark);
  font-weight: 800;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}
.text-click:hover {
  color: var(--orangeLight);
  transform: scale(1.1);
}
.text-orange {
  color: var(--orangeLight);
  font-weight: 900;
  -webkit-text-stroke: black 1px;
}
.text-green {
  color: darkgreen;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem !important ;
}
.text-red {
  color: red;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem !important ;
}
hr {
  width: 200px;
  margin: 0 auto !important;
  border-top: 1px solid black !important;
}
.text-xs-left {
  text-align: left !important;
}

.text-xs-right {
  text-align: right !important;
}

.text-xs-center {
  text-align: center !important;
}

.text-xs-justify {
  text-align: justify !important;
}

@media (min-width: 768px) {
  .text-sm-left {
    text-align: left !important;
  }

  .text-sm-right {
    text-align: right !important;
  }

  .text-sm-center {
    text-align: center !important;
  }

  .text-sm-justify {
    text-align: justify !important;
  }
}

@media (min-width: 992px) {
  .text-md-left {
    text-align: left !important;
  }

  .text-md-right {
    text-align: right !important;
  }

  .text-md-center {
    text-align: center !important;
  }

  .text-md-justify {
    text-align: justify !important;
  }
}

@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left !important;
  }

  .text-lg-right {
    text-align: right !important;
  }

  .text-lg-center {
    text-align: center !important;
  }

  .text-lg-justify {
    text-align: justify !important;
  }
}
