:root {
  --mainLight: #ffffe4;
  --purpleDark: #9c4d9e;
  --orangeLight: #fcb040;
}
body {
  background-color: var(--mainLight) !important;
}

.header {
  width: 75%;
  margin: auto;
}
.navbar-nav {
  margin: auto;
}
.navbar img {
  margin: auto;
  width: 20%;
  display: block;
}

.text-click {
  text-decoration: underline;
  color: var(--purpleDark);
  font-weight: 800;
  font-size: 1.5rem;
  -webkit-text-stroke: black 1px;
}
.text-read {
}
