:root {
  --mainLight: #ffffe4;
  --purpleDark: #9c4d9e;
  --orangeLight: #fcb040;
}
body {
  background-color: var(--mainLight) !important;
}

.header {
  width: 75%;
  margin: auto;
}
.navbar-nav {
  margin: auto;
}
.nav-item {
  transition: all 0.5s ease-in-out;
}
.nav-item:hover {
  transform: scale(1.35);
}
.navbar img {
  margin: auto;
  width: 50%;
  display: block;
}

.logo-container {
  width: 50%;
}

.text-click {
  text-decoration: underline;
  color: var(--purpleDark);
  font-weight: 800;
  font-size: 1.5rem;
  -webkit-text-stroke: black 1px;
  transition: all 0.5s ease-in-out;
}
.text-click:hover {
  color: var(--orangeLight);
  transform: scale(1.1);
}
.text-orange {
  text-decoration: underline var(--purpleDark);
  color: var(--orangeLight);
  font-weight: 900;
  -webkit-text-stroke: black 1px;
}
hr {
  width: 200px;
  margin: 0 auto !important;
  border-top: 1px solid black !important;
}
